.Highlights_multilnk_container {
    max-width: 1920px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;

	@media (max-width: 1070px) { 
		padding-right: 0px;
	}			

	@include for-tablet {    
		max-width: 732px;
		margin: 0 auto;		
	}	

	@include for-phone {    
		/* display: block; */
		padding-right: 0px;
		justify-content: center;
	}						

	.slick-slide {
		opacity: 0.5;
	}

	.slick-active {
		opacity: 1;
	}

    .Highlights_multilnk_item {
    	width: 32%;
    	/* max-width: 560px; */
		@include for-tablet {    
			width: 100%;
			max-width:314px;
			margin-right: 24px;
			
			&:last-child {
				margin-right: 0px;
			}    

		}						

		@include for-phone {
			margin-right: 24px;

			&:last-child {
				margin-right: 0px;
			}    
			width: 100%;
			max-width:312px;
		}   
		a {
	    	.Highlights_multilnk_item_content {
	    		background-position: center;
				width: 100%;
				height: 480px;
				display: flex;
				padding: 24px;
				margin-top: 24px;
				
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;		
				background-repeat: no-repeat;	
				position: relative;

				@include for-tablet {    
					height: 261px;
					width: 100%;
					max-width:314px;
				}						

				@include for-phone {    
					padding: 12px;
					margin-top: 40px;
					height: 266px;		
					margin: 0 auto;
					width: 100%;
					max-width: 312px;

				}	

				h3 {
					@extend %text-48-600;
					color: $white-color;

					@include for-tablet {    
						font-size: 38px;
						line-height: 38px;
					}

					@include for-phone {    
						font-size: 32px;
						line-height: 32px;
					}
				}
				.Highlights_multilnk_item_body {
					height: 48px;
					background: $red-color;
					width: 100%;
					position: absolute;
					left: 0;
					bottom: 0;
					display: flex;
					align-items: center;
					justify-content: space-between;

					padding: 12px 16px;
					p {
						@extend %text-16-600;
						color: $white-color;
						margin: 0px;
					}

				}
	    	}
		}

    }
}

.page-our-mission {
	.Highlights_multilnk_container {
		max-width: 1200px;
		@include for-tablet {
			padding-right: 36px;
		}						
		@include for-phone {
			padding-right: 24px;
		}						
		@media (max-width: 715px) { 
			padding-right: 0px;
		}			

	    .Highlights_multilnk_item {
	    	width: 50%;
	    	margin-right: 32px;

	    	&:last-child {
	    		margin-right: 0px;
	    	}

			@include for-tablet {
				width: 100%;
				max-width:50%;;
				margin-right: 32px;
			}						

			@include for-phone {    
				margin: 0px 32px 0px 0px;
				width: 100%;
				max-width:312px;
		    	&:last-child {
		    		margin-right: 0px;
		    	}				
			}   

			a {
		    	.Highlights_multilnk_item_content {

					width: 100%;
					height: 474px;

					@include for-tablet {
						width: 100%;
						height: 261px;
						max-width: 100%;

					}						

					@include for-phone {  
						width: 312px;
						height: 266px;	    									  
					}						

		    	}			
			}

	    }
	}
}

.page-our-science {
	.Highlights_multilnk_container {
		max-width: 1200px;
		@include for-tablet {
			padding-right: 36px;
		}						
		@include for-phone {
			padding-right: 24px;
		}						
		@media (max-width: 715px) { 
			padding-right: 0px;
		}			

	    .Highlights_multilnk_item {

	    	width: 50%;
	    	margin-right: 32px;

	    	&:last-child {
	    		margin-right: 0px;
	    	}

			@include for-tablet {
				width: 100%;
				max-width:50%;;
				margin-right: 32px;
			}						

			@include for-phone {    
				margin: 0px 32px 0px 0px;
				width: 100%;
				max-width:312px;
		    	&:last-child {
		    		margin-right: 0px;
		    	}				
			}   

			a {
		    	.Highlights_multilnk_item_content {

					width: 100%;
					height: 474px;

					@include for-tablet {
						width: 100%;
						height: 261px;
						max-width: 100%;

					}						

					@include for-phone {  
						width: 312px;
						height: 266px;	    									  
					}						

		    	}			
			}

	    }
	}
}

.page-overview {
	.Highlights_multilnk_container {
		max-width: 1200px;
		@include for-tablet {
			padding-right: 36px;
		}						
		@include for-phone {
			padding-right: 24px;
		}						
		@media (max-width: 715px) { 
			padding-right: 0px;
		}			

	    .Highlights_multilnk_item {

	    	width: 50%;
	    	margin-right: 32px;

	    	&:last-child {
	    		margin-right: 0px;
	    	}

			@include for-tablet {
				width: 100%;
				max-width:50%;;
				margin-right: 32px;
			}						

			@include for-phone {    
				margin: 0px 32px 0px 0px;
				width: 100%;
				max-width:312px;
		    	&:last-child {
		    		margin-right: 0px;
		    	}				
			}   

			a {
		    	.Highlights_multilnk_item_content {

					width: 100%;
					height: 474px;

					@include for-tablet {
						width: 100%;
						height: 261px;
						max-width: 100%;

					}						

					@include for-phone {  
						width: 312px;
						height: 266px;	    									  
					}						

		    	}			
			}

	    }
	}
}