.Highlights_products_container {
	
	@include for-large-desktop {    
		max-width: $large-desktopview;
		margin: 0 auto;
	}
	
	@include for-portable {    
		padding-right: 0px;
	}

	@include for-phone {    
		padding-right: 0px;
	}						

	.Highlights_heading {
		@extend %text-16-600;
		color: $red-color;	
	}

	.Highlights_title {
		@extend %text-48-600;
		margin-bottom: 64px;
		color: $black-color;

		@include for-tablet {    
			margin-bottom: 40px;
			font-size: 48px;
			line-height: 48px;
			letter-spacing: -0.03em;			
		}

		@include for-phone {    
			font-size: 32px;
			line-height: 32px;
			margin-bottom: 24px;

			br {
			/*	display: none; */
			}
		}
	}

	.Highlights_products_items {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		.slick-slide:not(.slick-active) {
		    opacity: 0.5;
		}


		.Highlights_products_item {
			width: 261px;
			/* padding: 0 50px; */
			margin-right: 36px;
			cursor: pointer;

			&:last-child {
				margin-right: 0px;
			}

			@include for-tablet {    
				width: 225px;
			}

			@include for-phone {    
				padding: 0;
				width: 203px;
				margin-right: 16px;
			}


			.highlight_product_image_row {
				display: flex;
				.highlight_product_image {
					width: 261px;
					height: 174px;
					background-repeat: no-repeat;
					background-size: cover;					
				}		

				@include for-tablet {    
					width: 225px;
				}

				@include for-phone {    
					width: 203px;
				}


			}
			.Highlights_products_content {

				.Highlights_products_name {
					margin-top: 16px;
					@extend %text-56-600;
					color: $black-color;
					margin-bottom: 0px;

					@include for-tablet {
						font-size: 48px;
						line-height: 48px;
						letter-spacing: -0.03em;
					}

					@include for-phone {
						font-size: 40px;
						line-height: 40px;
					}
				}

				.Highlights_products_sub_name {
					@extend %text-32-600;
					color: $black-color;
					position: relative;
					/* border-bottom: 1px solid $gray-color; */
					&::after {
					    content: '';
					    display: inline-block;
					    width: 100%;
					    height: 100%;
					    margin-right: -100%;
					    border-bottom: 1px solid $gray-color;
					    position: absolute;
					    bottom: -16px;
					    left: 0px;				
					}

					@include for-tablet {    
						font-size: 28px;
						line-height: 28px;
					}

					@include for-phone {    
						font-size: 24px;
						line-height: 24px;
					}									

				}

				.Highlights_for {
					@extend %text-16-600;	
					margin-top: 32px;
					color: $red-color;
					margin-bottom: 4px; 												

				}
				.Highlights_products_exp{
					@extend %text-22-300;
					color: $charcoal-color;
					width: 120px;
					@include for-tablet {    
						font-size: 18px;
						line-height: 24px;
						// height: 96px;
					}
				}
			}
		}

	}
}


#shopify-section-cbmd-slider-noimage {
	.Highlights_products_container {

		@include for-phone {    
			padding-right: 24px;
			padding-bottom: 24px;
		}

		.Highlights_products_items {
			align-items: flex-start;

			@include for-tablet {    
				flex-wrap: wrap;				
			}

			@include for-phone {    
				display: block;
			}

			.Highlights_products_item {
				width: 360px;

				@include for-tablet {
					width: 360px;
					&:last-child {
						margin-top: 36px;
					}
				}

				@media (max-width: 905px) { 
					width: 300px;
				}			

				@include for-phone {    
					width: 100%;
					margin-top: 40px;
					&:first-child {
						margin-top: 0px;
					}

				}

				.Highlights_products_content {
					.Highlights_heading {
						position: relative;
						&::after{
							opacity: 1;
							position: absolute;
							content: '';
							bottom: -16px;
							left: 0;
							height: 1px;
							background: $ash-color;
							width: 100%;						
						}
					}
					.Highlights_description {
						margin-top:32px;
						@extend %text-22-300;
						color: $black-color;
						p {
							margin-bottom: 0.5em;
						}
						p.description {
							margin-top: 1em;
						}
						@include for-tablet {    
							font-size: 18px;
						}

						@include for-phone {    
							font-size: 16px;
						}						

						.hyper_link {
							font-weight: bold;
							border-bottom: 1px solid $black-color;
						}
						.description {
							font-weight: normal;
							font-size: 12px;
							line-height: 15px;
							margin-top: -15px;
						}
					}
					.Highlights_products_link {
						margin-top: 32px;
					}
				}			
			}

		}
	}
}


#shopify-section-cbmd-slider-noimage-1 {
	.Highlights_products_container {
		@include for-phone {    
			padding-right: 24px;
			padding-bottom: 24px;
		}

		.Highlights_products_items {
			align-items: flex-start;
			@include for-tablet {    
				flex-wrap: wrap;				
			}

			@include for-phone {    
				display: block;
			}

			.Highlights_products_item {
				width: 360px;

				@include for-tablet {
					width: 360px;
					&:last-child {
						margin-top: 36px;
					}
				}

				@media (max-width: 905px) { 
					width: 300px;
				}			

				@include for-phone {    
					width: 100%;
					margin-top: 40px;
					&:first-child {
						margin-top: 0px;
					}

				}

				.Highlights_products_content {
					.Highlights_heading {
						display: flex;
						align-items: center;
						span {
							color: $black-color;
							margin-left: 8px;
						}
						
						position: relative;
						&::after{
							opacity: 1;
							position: absolute;
							content: '';
							bottom: -16px;
							left: 0;
							height: 1px;
							background: $ash-color;
							width: 100%;						
						}
					}
					.Highlights_description {
						margin-top:32px;
						@extend %text-22-300;
						color: $black-color;

						@include for-tablet {    
							font-size: 18px;
						}

						@include for-phone {    
							font-size: 18px;
						}						

						.hyper_link {
							font-weight: bold;
							border-bottom: 1px solid $black-color;
						}
						.description {
							font-weight: normal;
							font-size: 12px;
							line-height: 14px;
							margin-top: -15px;
						}
					}
					.Highlights_products_link {
						margin-top: 32px;
					}
				}			
			}

		}
	}
}

.Highlights_products_container_homepage {
	.Highlights_products_container {
		.Highlights_products_items {
			.Highlights_products_item {

				.Highlights_products_content {
					.Highlights_products_name {
						font-size: 70px;
            letter-spacing: -0.03em;
            @include for-tablet {
              font-size: 57.3771px;
              line-height: 1;
            }
            @include for-phone {
              font-size: 59.2673px;
              line-height: 1;
            }
					}
					.Highlights_products_sub_name {
						font-size: 28px;
            padding-bottom: 12px;
            border-bottom: solid 1px #000000;
            margin-bottom: 13px;
            @include for-tablet {
              font-size: 22.9508px;
              line-height: 26px;
              padding-bottom: 9.84px;
              margin-bottom: 10.66px;
            }
            @include for-phone {
              font-size: 23.7069px;
              line-height: 27px;
              padding-bottom: 10.16px;
              margin-bottom: 11.01px;
            }
            &:after {
              display: none;
            }
					}
					.Highlights_for {
						font-size: 18px;
						font-weight: 500;
						line-height: 24px;
						margin-bottom: 0;
            margin-top: 0;
            @include for-tablet {
              font-size: 14.7541px;
              line-height: 20px;
            }
            @include for-phone {
              font-size: 15.2402px;
              line-height: 20px;
            }
					}
					.Highlights_products_exp {
						width: auto;
						font-size: 18px;
						color: #000;
						font-weight: 500;
						line-height: 24px;
            @include for-tablet {
              font-size: 14.7541px;
              line-height: 20px;
            }
            @include for-phone {
              font-size: 15.2402px;
              line-height: 20px;
            }
					}
				}

				.highlight_products_images {
          margin-top: 32px;
          margin-bottom: 8px;
					position: relative;
          max-width: 190px;
          @include for-tablet {
            max-width: 160px;
          }
          @include for-phone {
            max-width: 160px;
          }
					.highlight_products_image_hover {
				    position: absolute;
				    top: 0;
				    left: 0;
				    width: 100%;
				    height: 100%;
				    object-fit: contain;
				    background: #fff;
				    opacity: 0;
				    transition: all 0.4s ease;
            @include for-phone {
              display: none;
            }
					}
          .highlight_products_image_main {
            opacity: 1;
            transition: all 0.4s ease;
            background: #fff;
            object-fit: contain;
            @include for-phone {
              opacity: 1 !important;
            }
          }
          &:hover {
            .highlight_products_image_hover {
              opacity: 1;
            }
            .highlight_products_image_hover + .highlight_products_image_main {
              opacity: 0;
            }
          }
				}

        .Highlights_products_link {
          width: 190px;
          @include for-tablet {
            width: 160px;
            font-size: 12.2951px;
            line-height: 20px;
            padding: 0;
            line-height: 45.9px;
            text-align: center;
          }
          @include for-phone {
            width: 160px;
            font-size: 12.7001px;
            line-height: 20px;
            padding: 0;
            line-height: 47.41px;
            text-align: center;
          }
        }
			}
		}
    .mobile-swipe-notice {
      @include for-phone {
        font-size: 12.4663px;
        line-height: 25px;
      }
    }
	}
}

.Highlights_products_container_overview {
  .Highlights_products_container {
    padding-top: 34px;
    @include for-tablet {
      padding-top: 30px;
    }
    @include for-phone {
      padding-top: 26px;
    }
    .Highlights_heading {
      margin-bottom: 28px;
      @include for-tablet {
        margin-bottom: 20px;
      }
      @include for-phone {
        font-size: 14.2892px;
        line-height: 21px;
        margin-bottom: 12px;
      }
    }
    .Highlights_products_items {
      .Highlights_products_item {

        .Highlights_products_content {
          .Highlights_products_name {
            font-size: 71px;
            line-height: 1;
            letter-spacing: -0.03em;
            margin-top: 0;
            @include for-tablet {
              font-size: 55.3643px;
              line-height: 1;
            }
            @include for-phone {
              font-size: 49.4444px;
              line-height: 1;
            }
          }
          .Highlights_products_sub_name {
            font-size: 28px;
            line-height: 32px;
            padding-bottom: 12px;
            border-bottom: solid 1px #000000;
            margin-bottom: 13px;
            @include for-tablet {
              font-size: 22.1457px;
              line-height: 25px;
              padding-bottom: 9.49px;
              margin-bottom: 10.28px;
            }
            @include for-phone {
              font-size: 19.7778px;
              line-height: 23px;
              padding-bottom: 8.48px;
              margin-bottom: 9.18px;
            }
            &:after {
              display: none;
            }
          }
          .Highlights_for {
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            margin-bottom: 0;
            margin-top: 0;
            @include for-tablet {
              font-size: 14.2365px;
              line-height: 19px;
            }
            @include for-phone {
              font-size: 12.7143px;
              line-height: 17px;
            }
          }
          .Highlights_products_exp {
            width: auto;
            font-size: 18px;
            color: #000;
            font-weight: 500;
            line-height: 24px;
            @include for-tablet {
              font-size: 14.2365px;
              line-height: 19px;
            }
            @include for-phone {
              font-size: 12.7143px;
              line-height: 17px;
            }
          }
        }

      }
    }
  }
}